.indicator-wrapper {
	scrollbar-width: none;
}

.nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*width*/
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
/*track*/
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0);
}
/*thumb*/
::-webkit-scrollbar-thumb {
	background: #cfd6e4;
	border-radius: 4px;
}

.txt-space {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.network-btn-box {
	scrollbar-width: none;
}

.dexscan-menu-body {
	scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
	display: none;
}

.txt {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.scroll-none {
	-ms-overflow-style: none;
}

.scroll-none::-webkit-scrollbar {
	display: none;
}

/* 초기 상태: .dx-hover-wrap은 보이지 않음 */
.dx-hover-wrap {
  opacity: 0;               /* 투명하게 */
  max-height: 0;            /* 높이를 0으로 설정하여 내용이 보이지 않도록 */
  overflow: hidden;         /* 내용이 튀어나오지 않도록 */
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

/* hover 상태: .dx-hover-wrap이 부드럽게 나타남 */
.dx-menu-bottom-wrap:hover .dx-hover-wrap {
  opacity: 1;               /* 불투명하게 */
  max-height: 100%;        /* 충분히 큰 값으로 설정 (내용 높이에 따라 조절) */
}
